@font-face {
  font-family: 'Urbanist';
  src: 
    url('../fonts/Urbanist-VariableFont_wght.woff2') format('woff2'),
    url('../fonts/Urbanist-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
}
@font-face {
  font-family: 'Manrope';
  src: 
    url('../fonts/Manrope-VariableFont_wght.woff2') format('woff2'), 
    url('../fonts/Manrope-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
}



@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&family=Urbanist:wght@400;600;700&display=swap');
@import url('https://fonts.loli.net/css2?family=Manrope:wght@400;600;700&family=Urbanist:wght@400;600;700&display=swap');





body { font-family: 'Manrope','Segoe UI', -apple-system, system-ui, Roboto, sans-serif; }
h1  { font-family: 'Urbanist','Segoe UI', -apple-system, system-ui, Roboto, sans-serif; }
h2  { font-family: 'Urbanist','Segoe UI', -apple-system, system-ui, Roboto, sans-serif; }

/* html{
    scroll-behavior: smooth;
} */

body{
    transition: all 0.6s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

.el-input__inner{
    height: 50px;
    border-radius: 0;
}


.el-button{
    border-radius: 0;
}

.el-button--primary{
    color: #FFF;
    background-color: #9A3133;
    border-color: #9A3133;
}

.el-button--primary:focus, .el-button--primary:hover {
    background: #cb4346;
    border-color: #cb4346;
    color: #FFF;
}
.el-button:focus, .el-button:hover {
    color: #fff
    border-color: #cb4346;
    background-color: #cb4346;
}

.el-button--primary.is-active, .el-button--primary:active {
    background: #cb4346;
    border-color: #cb4346;
    color: #FFF;
}

.el-button:active {
    color: #FFF;
    border-color: #cb4346;
    outline: 0;
}

.el-input.is-active .el-input__inner, .el-input__inner:focus {
    border-color: #666;
    outline: 0;
}
.el-textarea__inner{
    border-radius: 0;
}
.el-textarea__inner:focus {
    outline: 0;
    border-color: #666;
}
















html{
    height: 100%;
}
body {
    background-color: #FFFFFF;
    font-size: 18px;
    height: 100%;
    
}
li{
     list-style: none;
}

.web_top{
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    /* padding-right: 10px; */
    align-items: center;
    color: black;
    z-index: 99;
    transition: all 0.5s ease;

}
.home_web_top{
    color: white;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 3px;
    height: 90px;
    padding-left: 50px;
    transition: all 0.5s ease;
}

.web_top_bgoff{
    background:none;
    height: 90px;
}
.web_top_bgoff .logo{
    height: 40px;
}

.logo{
    height: 36px;
    width: 140px;
    background-image:url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s ease;
}

.logo_mob{
    display: none;
}

.home_logo{
    background-image:url(../images/logo-w.png);
    /* transition: all 0.5s ease; */
    height: 40px;

}
.web_top.hide {
  transform: translateY(-100%);
}
.menu_box{
    display: flex;
    height: 100%;
    align-items: center;
}
.menu_btn{
    width: 90px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}
.menu_btn:active{
    background-color: rgba(0, 0, 0, 0.1);
}

.language{
    padding-right: 10px;
    font-weight: 800;
    cursor: pointer;
}
.lang-zh .language{
    font-weight: 500;
}
.language i{
    font-size: 18px;
    font-weight: 400;
    margin-left: 5px;
}



.nav_box{
    padding-left: 100px;
    box-shadow: none;
    width: auto;
}

.nav_flex{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}


.nav_top{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.nav_top p{
    font-size: 16px;
    font-weight: 800;
    color: #9A3133;
}

.nav_close{
    height: 90px;
    width: 90px;
    background-color: #9A3133;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    cursor: pointer;
}
.nav_close i{
    color: white;
}

.nav_list{
    flex: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.nav_list li{
    font-size: 30px;
    font-weight: 800;
    line-height: 2.5em;
    transition: all 0.3s ease;
    color: black;
    font-weight: bold;
}
.nav_list li:hover{
    font-size: 31px;
    color: #9A3133;
    line-height: 2.42em;
}
.nav_list li:active{
    font-size: 31px;
    color: #9A3133;
    line-height: 2.42em;
}


.nav_bottom{
    height: 130px;
    display: flex;
    justify-content: flex-end;
    padding-right: 70px;
    align-items: center;
}



.el-backtop{
    width: 50px;
    height: 50px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow:none;
    -webkit-box-shadow: none;
}
.el-backtop:hover {
    background-color: #9A3133;
}
.web-backtop {
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 2px;
    line-height: 2.4;
    color:white;
}










.home_banner{
    height:100%;
    position: relative;
    z-index: -100;
    display: flex;
    justify-content: center;
    align-items: center;
}
#video-home{
    /* position: fixed !important; */
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: inherit;
    z-index: -100;
    background-size: cover;
    object-fit: cover;
}
@supports (-webkit-touch-callout: none) {
    #video-background {
      /* position: fixed; 解决 iOS 内联播放问题 */
    }
  }

.home_banner h1{
    position: absolute;
    color: white;
    font-size: 108px;
    line-height: 1;
    font-weight: bold;
}
.lang-zh .home_banner h1{
    letter-spacing: 6px;
    line-height: 1.1;
}

.home_banner p{
    position: absolute;
    color: white;
    font-size: 16px;
    bottom: 7.2%;
    left: 4%;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.lang-zh .home_banner p{
    font-weight: 500;
}


.container_box{
    max-width: 1540px;
    margin: 0 auto;
    padding: 50px 90px;
}
.home_bg{
    background-color: #F6F6F6;
}
.four_core{
    padding-top: 90px;
    padding-bottom: 110px;
}

.subtitle{
    font-size: 20px;
    font-weight:600;
    line-height: 2em;
}



.home_title{
    font-size: 56px;
    text-transform: capitalize; 
    font-weight: 600;
}
.web_bigtitle{
    font-size: 56px;
    text-transform: capitalize; 
    font-weight: 600;
}


.lbox{
    /* height: 570px; */
    max-width: 1920px;
}

.lbox_n{
    /* height: 580px; */
    margin-right: 50px;
}

.lbox_img{
    height: 460px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.lbox_name{
    font-size: 18px;
    font-weight: 600;
    max-width: 370px;
    margin-top: 10px;
    text-transform: capitalize; 
}



.four_core .home_title{
    max-width: 666px;
}

.home_factorybox{
    padding-bottom: 100px;
    padding-top: 200px;
}

.home_factory_titlebox .home_title{
    max-width: 750px;
}

.home_factory_titlebox{
    margin-bottom: 260px;
}
.home_factory_subtitle{
    display: flex;
    gap: 130px;
    padding-right: 30px;
}
.factory_subtitle_digit{
    /* float: left;
    margin-right: 130px; */
}

.factory_subtitle_digit p{
    font-weight: 600;
    max-width: 350px;
}


.home_factory_boardBox{
    /* padding-left: 20px; */
    margin-top: 20px;
}

.factory_board{
    background-color: white;
}


.factory_board_img{
    height: 188px;
    background-image:url(../images/FactoryBG.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.factory_board_data{
    padding: 43px;
    padding-top: 35px;
}

.factory_board_data h2{
    font-size: 30px;
}


.factory_board_data ul{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.factory_board_data ul li{
    display: flex;
    align-items: center;
    gap: 22px;
}

.board_img{
    width: 36px;
    height: 36px;
}


.home_factory_image{
    height: 710px;
}


.home_factory_image .swiper-slide{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


.home_factory_image .swiper-button-next, .swiper-button-prev{
    top: inherit;
    bottom: 0;
    padding: 10px;
    background-size: 25%;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
}

.home_factory_image .swiper-button-prev{
    right: 51px; 
    left: auto;
}
.home_factory_image .swiper-button-next{
    right: 0px; 
    left: auto;
}



.home_market{
    padding-top: 90px;

}
.home_market h1{
    max-width: 1200px;
}


.world_image{
    height: 660px;
    background-image:url(../images/World.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.home_contact{
    padding-top: 20px;
    padding-bottom: 0;
}
.home_contact_a{
    padding-right: 10%;
    margin-bottom: 70px;
}
.home_contact_a p{
    font-weight: 800;
    margin-bottom: 30px;
}




.contactinfo{
    padding-bottom: 130px;
}

.contactinfo_box{
    border-top: 1px solid #D9D9D9;
    padding-top: 70px;
    
}

.contactinfo_name{
    display:flex;
    gap: 20px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.contactinfo_name .el-form-item{
    flex: auto;
}

.contactinfo_box label{
    font-size: 16px;
}
.contactinfo_box .el-input__inner{
    font-size: 16px;
}

.contactinfo_box .el-textarea__inner{
    font-size: 16px;
    font-family: 'Manrope', system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
}







.web_foot{
    height: 100px;
    border-top: 1px solid #D9D9D9;
    font-weight: 600;
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.web_foot_l{
    display: flex;
    gap: 80px;
}

.web_foot_l a{
    margin-right: 40px;
}
.lang-zh .web_foot_l a{
    font-weight: 500;
}

.web_foot_r{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    color: black;
    
}
.web_foot_r i{
    font-weight: normal;
    font-size: 19px;
}

.web_foot_r .language{
 margin-left: 25px;
}

.web_foot_r .language i{
    font-size: 18px;
}








.about_dayang{
    padding-top: 130px;
    padding-bottom: 160px;
}


.web_head{
    padding-top: 180px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 25px;
}


.web_head ul{
    display: flex;
    gap: 70px;
    font-size: 18px;
    font-weight: 600;
    /* overflow: auto; */
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.lang-zh .web_head ul{
    /* font-size: 16px; */
    font-weight: 500;
}

.web_head ul li{
    white-space: nowrap;
    cursor: pointer;
}

.web_head ul li:hover{
    color: #9A3133;
}
.web_head ul li:active{
    color: #9A3133;
}

.web_bg{
    height: 785px;
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.webgm_bg{
    height:1080px;
    display: flex;
}
.webgm_bg_l{
    height: 100%;
    background-image:url(../images/gmbg1.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    width: 50%;
}
.webgm_bg_r{
    height: 100%;
    background-image:url(../images/gmbg2.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    width: 50%;
}


.conveyor-wrapper {
    width: 100%;
    overflow: hidden;
    padding-top:140px;
    height: 1025px;
    white-space: nowrap;
    
}

.conveyor-track {
    display: flex;
    white-space: nowrap;
    height: 100%;
    will-change: transform;
    transform: translateZ(0);
}
.item {
    min-width: 590px;
    margin-right: 90px;
    margin-left: 90px;
    background-image:url(../images/m1.jpg);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100%;
}

.partners_logo{
    background-color: #F9F5F5;
}
.partners_logo .container_box{
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
}


.hpartners_market{
    padding-top: 90px;
}
.hpartners_market .home_title{
    max-width: 1260px;
    text-align: center;
    margin: 0 auto;
}
.hpartners_market .subtitle{
    text-align: center;
}


.world_data{
    margin: 0 auto;
    max-width: 998px;
    height: 80px;
    padding-top: 70px;
    padding-bottom: 190px;
}

.world_data ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
}

.world_share{
    font-size: 24px; 
    font-weight: 800;
}


.world_data ul li{
    text-align: center;
}

.world_data ul li p{
    font-weight: 500;
}

.world_data ul li h1{
    font-size: 36px;
}
.factory_data_t_r h1{
    font-weight: 700;
}
.factory_data_t_r li div{
    height: 25px;
}







.web_title{
    font-size: 50px;
    text-transform: capitalize; 
    font-weight: 600;
}

.intro_title{
    max-width: 580px;
    margin-bottom: 30px;
    
}


.article_box{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    /* text-align: justify; */
    padding-left: 40px;
}


.about_video{
    height: 500px;
}


.about_footprints{
    padding-top: 130px;
    padding-bottom: 100px;
}

.footprints_title{
    max-width: 1260px;
    text-transform: math-auto;

}


.historylist ul{
    border-bottom: 1px solid #DADADA;
}

.historylist ul li{
    border-top: 1px solid #DADADA;
    padding: 40px;
    padding-top: 45px;
    padding-bottom: 45px;
    display: flex;
    align-items: center;
    flex-direction: row;
    
}
.historylist ul .year h1{
    font-size: 40px;
    font-weight: 600;
}
.historylist ul .event{
    padding-left: 60px;
    font-size: 16px;
    font-weight: 600;
    max-width: 900px;
}

.footprints_p{
    margin-top: 20px; 
    max-width: 833px;
    font-size: 18px;
    font-weight: 500;
}



.about_tree{
    height: 770px;
    background-image:url(../images/tree.jpg);
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
}



.myTeam{
    height: auto;
    background-color: #F6F6F6;
}

.team_title{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 70px;
    font-weight: 600;
}
.team_title .web_title{
    width: 430px;
}
.team_p{
    /* font-size: 16px; */
    font-size: 18px;
    max-width: 730px;
    font-weight: 500;
}

.team_designer{
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px;
    padding-top: 80px;
    padding-bottom: 100px;
}


.team_designer li{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.designer_image{
    max-width: 480px;
}


.designer_introduce{
    max-width: 508px;
    padding-top: 50px;
    padding-bottom: 100px;
}
.designer_name{
    margin-top: 38px;
    margin-bottom: 38px;
    text-transform: capitalize; 
}

.designer_introduce .subtitle{
    font-weight: 800;
    width: 80%;
}

.designer_introduce .designer_info{
    font-size: 16px;
    font-weight:500;
    width: 100%;
}


.cinema{
    background-color: black;
    color: #9ECA9D;
}


.factory_data_t{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 20px;
}

.factory_data_t_l{
    padding-bottom: 50px;
}
.factory_data_t_r{
    padding-bottom: 50px;
}

.factory_data_t ul li{
    float: left;
    margin-right: 70px;
}

.factory_data_t ul li h1{
    font-size: 46px;
    margin-top: 5px;
}

.factory_data_t ul li p{
    font-size: 16px;
    font-weight: 600;
}




.factory_pt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 90px;
}


.factory_pt_r{
    width: 100%;
    max-width: 700px;
}

.factory_pt_r img{
    margin-top: 17px;
    margin-bottom: 17px;
    width: 100%;
}

.factory_pt_l .web_title{
    font-weight: 700;
    margin-bottom: 30px;
}
.factory_pt_l ul{
    
}
.factory_pt_l ul p{
    max-width: 360px;
    margin-bottom: 100px;
    font-weight: 600;
    
}



.factory_notice{
    border-top: 1px solid #DADADA;
    padding-top: 70px;
    padding-bottom: 30px;
}

.factory_notice h2{
    font-weight: 600;
    font-size: 35px;
    margin-top: 30px;
}

.lang-zh .factory_notice h2{
    font-weight: 500;
}

.factory_listbox{
    padding-bottom: 150px;
}

.factory_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80px;
}


.factory_list_name{
    font-weight: 600;
    padding-bottom: 20px;
    max-width: 400px;
}
.factory_list_name p{
    margin-top: 10px;
}
.lang-zh .factory_list_name p{
    font-weight: 500;
}
.factory_list_name h1{
    font-weight: bold;
}


.factory_list_photo{
    max-height:370px ;
    
}
.factory_list_photo img{
    width: 100%;
}


.quality{
    border-top: 1px solid #DADADA;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 120px;
    padding-bottom: 150px;
}
.quality .web_title{
    padding-bottom: 30px;
}
.quality ul {
    max-width: 780px;
}
.quality ul h2{
    font-size: 32px;
    font-weight: 600;
}
.quality ul img{
    margin-top: 30px;
    margin-bottom: 20px;
}

.quality ul li{
    font-weight: 600;
    list-style:disc;
    line-height: 3em;
}
.lang-zh .quality ul li{
    font-weight: 500;
}

.attestation{
    padding-bottom: 130px;
}

.attestation_n{
    padding: 50px;
    border: 1px solid #dadada;
}


.customization_video{
    height: 1080px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}



.customization_video video{
        object-position: top;
}


.customization_billboard{
    position: absolute;
    color: white;
    margin-left: 8%;
    margin-top: -10%;
    
}
.customization_billboard h1{
    font-size: 110px;
    font-weight: bold;
}

.customization_billboard h2{
    font-size: 86px;
    font-weight: bold;
}



.immersive{
    display: flex;
    padding-top: 100px;
    padding-bottom: 130px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.immersive .web_title{
    padding-bottom: 40px;
}

.immersive ul {
    max-width: 600px;
    margin-right: 30px;
}

.immersive ul h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 80px;
}
.lang-zh .immersive ul h2{
    font-weight: 500;
}

.immersive ul li{
    border: 1px solid #dedede;
    padding: 16px 35px;
    border-radius: 4px;
    margin-top: 15px;
    font-weight: 600;
}
.lang-zh .immersive ul li{
    font-weight: 500;
}

.immersive_photo{
    text-align: center;
    padding-bottom: 150px;
}

.immersive_photo p{
    font-weight: 600;
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 15px;
}
.lang-zh .immersive_photo p{
    font-weight: 500;
}

.fully_bg{
    height: auto;
    background-color: #F6F6F6;
}


.fully_title{
    padding-top: 80px;
}

.fully_title h2{
    margin-top: 12px;
    font-size: 35px;
    max-width: 1200px;
    font-weight: 700;
    text-transform:math-auto;
}



.fully_image{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 60px;
}

.distinctions{
    display: flex;
    padding-top: 100px;
    padding-bottom: 130px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.distinctions .web_title{
    padding-bottom: 60px;
}

.distinctions ul li h4{
    font-size: 22px;
    line-height: 1.8em;
}
.distinctions ul li p{
    font-size: 14px;
    font-weight: 600;
}
.lang-zh .distinctions ul li p{
    font-weight: 500;
}

.distinctions ul li{
        margin-bottom: 70px;
}


.distinctions ul{
    flex-basis: 400px;
}

.ai_soon{
    display: flex;
    padding-top: 100px;
    padding-bottom: 130px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ai_soon .web_title{
    padding-bottom: 40px;
}

.ai_soon ul li h4{
    font-size: 22px;
    line-height: 1.8em;
}
.ai_soon ul li p{
    font-size: 14px;
    font-weight: 600;
}
.lang-zh .ai_soon ul li p{
    font-weight: 500;
}

.ai_soon ul li{
    margin-bottom: 70px;
}

.ai_soon ul{
    flex-basis: 460px;
}



.customization_bg{
    height: 996px;
    background-image:url(../images/trands-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}



.gradient_bg{
    background: linear-gradient( 180deg, #FAF5F5 0%, rgba(250,245,245,0.5) 80%, #FFFFFF 100%);
    border-top: 1px solid #DADADA;
  
}

.intelligent_banner{
    height: 880px;
    background-color: #FAF5F5 ;
    max-width: 1800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}

.animation_d{
    width: 630px;
    height: 550px;
    border: 100px solid #d1dde8;
    position: absolute;
    border-radius: 80px 300px 300px 80px;
    z-index: 1;
    zoom: 1;
    animation: waterFloat 6s ease-in-out infinite;
    
}

@keyframes waterFloat {
  0% {
    transform: translate(0px, 0px) scale(0.5);
    filter: blur(2px);
    opacity: 1;
  }
  50% {
    transform: translate(-30px, 10px) scale(2);
    filter: blur(40px);
    opacity: 0.3;
  }
  100% {
    transform: translate(0px, 0px) scale(0.5);
    filter: blur(2px);
    opacity: 1;
  }
}


.intelligent_billboard{
    padding: 50px 90px;
    z-index: 2;
    align-self: flex-start;
}
.intelligent_billboard h1{
    font-size: 84px;
    font-weight: 600;
}
.intelligent_billboard p{
    font-size: 84px;
    font-weight: 600;
}
.intelligent_billboard ul{
    margin-top: 20px;
}
.intelligent_billboard ul li{
    float: left;
    margin-right: 28px;
    padding: 15px 28px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
}

.lang-zh .intelligent_billboard ul li{
    font-weight: 500;
}

.g_active{
    background-color: #31569A;
    color: white;
}

.intelligent_billboard ul li:active{
    background-color: #31569A;
    color: white;
}


.intelligent_box{
    max-width: 1440px;
    margin: 0 auto;
    padding: 90px 90px;
}

.intelligent_title{
    padding-bottom: 100px;
}


.intelligent_title h1{
    font-size: 42px;
    padding-bottom: 15px;
    font-weight: bold;
}
.intelligent_title p{
    font-size: 18px;
    font-weight: 600;
    max-width: 750px;
}
.lang-zh .intelligent_title p{
    font-weight: 500;
}

.ustyylit{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 100px;
    gap: 50px;
}
.ustyylit_n1{
    flex-direction: row;
}
.ustyylit_n2{
    flex-direction: row-reverse;
}
.ustyylit_n2 .ustyylit_introduce{
    margin-right: 88px;
}
.ustyylit_introduce{
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 430px;
}
.ustyylit_introduce ul{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.ustyylit_introduce ul li h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.ustyylit_introduce ul li p{
    font-size: 14px;
    font-weight: 600;
}

.ustyylit_image{
    max-width: 700px;
}



.gradient_bg2{
    background: linear-gradient( 180deg, #FAFAFA 0%, #E5E8E8 61%, #E9E7E4 100%);
    
    
}


.lining_title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lining_title h1{
    text-align: center;
    max-width: 590px;
}
.lining_title p{
    text-align: center;
    max-width: 650px;
}


.customlining{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 100px;
    gap: 50px;
}

.customlining_image{
    max-width: 650px;
}

.customlining_introduce{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.customlining_introduce li{
    background-color: white;
    /* max-width: 380px; */
    padding: 18px 30px;
    border-radius: 16px;
    
}
.customlining_introduce li h3{
    font-size: 20px;
}
.customlining_introduce li p{
    font-weight: 600;
    font-size: 14px;
}
.lang-zh .customlining_introduce li p{
    font-weight: 500;
}


.customlining_n1 .customlining_introduce{
    margin-right: 130px;
    max-width: 380px;
    min-width: 380px;
}

.customlining_n2{
    flex-direction: row-reverse;
}

.customlining_n2 .customlining_introduce{
    margin-left: 80px;
    max-width: 380px;
    min-width: 380px;
}





.new3d_title{
    background-image: url(../images/NEW3D.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 90px;
}


.new3d_title h1{
    text-align: center;
    max-width: 590px;
    font-size: 42px;
    padding-bottom: 15px;
    font-weight: bold;
}
.new3d_title p{
    text-align: center;
    max-width: 590px;
    font-size: 18px;
    font-weight: 600;
}
.lang-zh .new3d_title p{
    font-weight: 500;
}




.new3d_swiper{

    margin-top: 100px;
}

.new3d_n{
    text-align: center;
}
.new3d_n img{
    border-radius: 26px;
}


.img-box {
  position: relative;
  display: inline-block;
  cursor: pointer;
  line-height: 0em;
}

.img-box::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: background 0.3s;
  border-radius: 26px;
}

.new3d_swiper .swiper-slide-active .img-box::after {
  background: rgba(0, 0, 0, 0);
}

.new3dbtn{
    max-width: 780px;
    text-align: center;
    padding-top: 160px;
    padding-bottom: 90px;
}

.new3dbtn_title{
    max-width: 780px;
    text-align: center;
    padding-bottom: 90px;

}
.new3dbtn_title h1{
    font-weight: bold;
}

.new3d_img{
    max-width: 960px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    
}
.new3d_img img{
    border-radius: 26px;
}

.new3d_fine{
    max-width: 1200px;
    padding-bottom: 100px;
}

.new3d_fine_n{
    height: 206px;
    background-color:#e1e0dd;
    border-radius: 26px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22px;
}
.new3d_fine_n i{
    font-size: 40px;
}
.new3d_fine_n p{
    font-weight: 800;
    max-width: 200px;
    text-align: center;
}

.ai_bgbox{
    background-color: #F9F5F5;
}

.ai_bg{
    height: 966px;
    background-image: url(../images/AIBG.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 130px;
    padding: 70px;
}


.ai_bg h1{
    font-size: 123px;
    text-align: center;
    font-weight: bold;
}

.ai_bg p{
    font-size: 20px;
    align-self: flex-end;
}


.Future_title{
    padding-top: 80px;
}

.Future_title h2{
    margin-top: 12px;
    font-size: 35px;
    max-width: 1200px;
    font-weight: 700;
    text-transform: math-auto;
}

.ai_big{
    margin: 0 auto;
    max-width: 1088px;
    margin-top: 100px;
}

.ai_big li{
    text-align: center;
    margin-bottom: 140px;
}

.ai_big li div{
    height: 430px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.ai_big li h4{
    font-size: 20px;
    margin-top: 18px;
}

.ai_big li p{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.8;
}
.lang-zh .ai_big li p{
    font-weight: 500;
}








































































@media (max-width:1440px) {
    .ustyylit_introduce{
        max-width: 360px;
    }
    .ustyylit_image{
        max-width: 610px;
    }
    .immersive ul{
        max-width: 520px;
    }
    .team_designer li{
        justify-content: space-around;
    }
    .customlining_n1 .customlining_introduce{
        margin-right: 70px;
    }
    .customlining_n2 .customlining_introduce {
        margin-left: 60px;
    }
    .customlining_image{
        max-width: 600px;
    }
    .about_tree{
        height: 700px;
        background-size: 90%;
        background-position: center bottom;
    }
    .about_video {
        height: 380px;
    }
    .web_bg{
        height: 700px;
    }
    .customization_video{
        height: 800px;
    }
}

@media (max-width:1300px) {
    .ustyylit_n2 .ustyylit_introduce{
        margin-right: 0;
    }
    .customlining_n1 .customlining_introduce{
        margin-right: 0;
    }
    .customlining_n2 .customlining_introduce{
        margin-left: 0;
    }
    .home_factory_titlebox .home_title{
        max-width: 700px;
    }
    .immersive ul{
        max-width: 420px;
    }
    .home_factory_subtitle{
        gap: inherit;
        padding-right: 0;
        margin-bottom: 40px;
    }
    .web_bg {
        height: 600px;
    }
    .about_tree{
        height: 650px;
    }
    .designer_image{
        max-width: 370px;
    }
    
    .team_designer{
        padding-top: 0;
    }
    .webgm_bg{
        height: 800px;
    }
    .conveyor-wrapper{
        height: 925px;
    }
    .customization_billboard{
        margin-top: 0;
    }
    .ustyylit{
        justify-content: space-around;
    }
    .ustyylit_image {
        max-width: 470px;
    }
    .customlining_n1 .customlining_introduce {
        max-width: 350px;
    }
    .customlining_n2 .customlining_introduce {
        max-width: 350px;
    }
    .customlining{
        justify-content: center;
    }
    .customization_video{
        height: 700px;
    }
}














@media (max-width:1024px) {
    .container_box{
         padding-left: 60px;
         padding-right: 60px;
    }
    .web_foot_l p a{
        display: none;
    }
    .foot_n{
        display: none;
    }
    .web_foot_l{
        gap: 0px;
    }
    .web_head ul{
        gap: 30px;
    }

    .home_banner h1{
        font-size: 88px;
    }

    .four_core{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .home_factory_titlebox{
        margin-bottom: 150px;
    }
    .home_factory_image{
        height: 480px;
    }
    .lbox_img{
        height: 350px;
    }
    .home_factorybox{
        padding-top: 170px;
    }
    .home_market{
        padding-top: 50px;
    }
    .world_image{
        height: 560px;
        background-size: 120%;
        margin-bottom: 0;
    }
    .nav_box{
        padding-left: 80px;
        width: 60% !important;
    }
    .about_tree{
        height: 520px;
    }
    .designer_image{
        max-width: 320px;
    }
    .designer_introduce{
        max-width: 328px;
        padding-top:0;
    }
    .team_designer{
        padding-top: 0;
    }
    .team_designer li {
        align-items: flex-start;
        margin-bottom:10px;
    }
    .about_video {
        height: 270px;
    }
    .about_tree{
        background-size: 90%;
    }
    .web_bg {
        height: 420px;
    }
    .article_box{
        padding-left: 0;
    }
    
    .intro_title{
        max-width: 100%;
    }
    .about_dayang {
        padding-top: 70px;
        padding-bottom: 90px;
    }
    .about_footprints {
        padding-top: 70px;
        padding-bottom: 60px;
    }
    .web_top{
        padding-left: 40px;
    }
    .webgm_bg {
        height: 660px;
    }
    .conveyor-wrapper{
        height: 710px;
        padding-top:110px;
    }
    .item{
        margin-left: 0;
        margin-right: 0;
    }
    .world_data ul{
        justify-content: space-evenly;
    }
    .factory_pt_r{
        max-width: max-content;
    }
    .factory_list_photo{
        max-width: 440px;
    }
    
    .customization_billboard h2{
        font-size: 66px;
    }
    .customization_billboard h1{
        font-size: 80px;
    }
    .immersive {
        padding-top: 60px;
    }
    .immersive ul{
        max-width: 100%;
    }
    .immersive ul{
        margin-right: 0;
    }
    .customization_bg{
        height: 560px;
    }
    .distinctions{
        padding-bottom: 80px;
    }
    .intelligent_banner{
        height: 660px;
    }
    
    .animation_d{
        width: calc(630px * 0.7);
        height: calc(550px * 0.7);
        border: 70px solid #d1dde8;
    }
    /* .ustyylit_n2{
        flex-direction: row;
    } */
    .intelligent_title{
        text-align: center;
    }
    .intelligent_title p{
        max-width: 600px;
        margin: 0 auto;
    }
    .ustyylit_introduce{
        margin-left: 20px;
    }
    .intelligent_box{
        padding-bottom: 30px;
    }
    .customlining{
        justify-content: center;
        padding-bottom: 60px;
    }
    .customlining_n1 .customlining_introduce{
        max-width: 100%;
    }
    .customlining_n2 .customlining_introduce{
        max-width: 100%;
    }
    .new3dbtn{
        padding-top: 130px;
        padding-bottom: 50px;
    }
    .ai_bg{
        height: 620px;
        gap: 0;
    }
    .ai_bg h1{
        line-height: 1;
    }
    .ai_big{
        margin-top: 50px;
    }
    .ai_big li{
        margin-bottom: 50px;
    }
    .new3d_n img {
        border-radius: 16px;

    }
    .img-box::after{
        border-radius: 16px;
    }
    .ai_big{
        margin-bottom: 100px;
    }
    .customization_video{
        height: 500px;
    }
}




@media (max-width:768px) {
    .container_box{
         padding-left: 60px;
         padding-right: 60px;
    }
    
    .nav_box{
        width: 80% !important;
    }
    .el-backtop{
        display: none;
    }
    .home_factory_titlebox {
        margin-bottom: 90px;
    }
    .designer_image{
        max-width: 280px;
    }
    .designer_introduce{
        max-width: 268px;
        padding-top:0;
    }
    .team_designer li {
        align-items: flex-start;
        margin-bottom:10px;
    }
    .designer_introduce .designer_info{
        line-height: 1.7;
    }
    .about_tree {
        height: 380px;
    }
    .about_dayang {
        padding-top: 70px;
        padding-bottom: 90px;
    }
    
    .web_title{
        font-size: 42px;
    }
    .web_bg {
        height: 320px;
    }
    .article_box img{
        width: 70%;
    }
    .home_banner{
        height: 82%;
    }
    .factory_data_t ul li{
        margin-right: 60px;
    }
    .distinctions ul{
        flex-basis: 330px;
    }
    .intelligent_billboard h1{
        font-size: 72px;
    }
    .intelligent_billboard{
        padding: 50px 60px;
    }
    .intelligent_billboard ul {
        margin-top: 40px;
    }
    .new3dbtn{
        padding-top: 100px;
        padding-bottom: 40px;
    }
    .animation_d {
        width: calc(630px * 0.6);
        height: calc(550px * 0.6);
        border: 60px solid #9db6cd;
        animation: waterFloat 6s ease-in-out infinite;
    }
    .new3dbtn img{
        width: 80%;
    }
    .ai_bg h1 {
        font-size: 100px;
    }
    .new3d_title{
        height: 400px;
    }
    .ai_big li div{
        height: 300px;
    }
    .ai_big li p{
        padding-left: 10%;
        padding-right: 10%;
    }
    .ai_soon .web_title {
        padding-bottom: 100px;
    }
    .home_banner h1 {
        font-size: 70px;
    }
    .customization_video{
        height: 730px;
    }
    .ustyylit_n1{
        flex-direction: column-reverse;
    }
    .ustyylit_n2{
        flex-direction: column-reverse;
    }
    
    
}
























@media (max-width: 480px) {
    body{
        font-size: 16px;
    }
    .container_box{
         padding-left: 30px;
         padding-right: 30px;
    }
    .web_top{
        padding-left: 25px;
    }
    .web_head ul{
        overflow: auto;
        flex-wrap: nowrap;
        
    }
    .web_top{
        height: 60px;
    }
    .logo{
        height: 28px;
        width: 100px;
    }
    .menu_btn{
        font-size: 26px;
        width: 68px;
        height: 60px;
    }
    .home_web_top{
        height: 60px;
        color: black;
        background-color: rgba(255, 255, 255, 1);
        margin-top: 0;
    }

    .web_top_bgoff{
        background-color: rgba(255, 255, 255, 1);
        height: 60px;
    }
    .web_top_bgoff .logo{
        height: 28px;
    }


    .home_logo{
        height: 28px;
        background-image: url(../images/logo.png);
    }
    .home_banner {
        height: 100%;
        padding-top: 0px;
    }
    .home_banner h1 {
        font-size: 48px;
        margin-top: 10px;
    }
    .lang-zh .home_banner h1 {
        letter-spacing: 2px;
        line-height: 1.1;
    }
    .home_banner p{
        font-size: 13px;
        bottom: 5.5%;
        left: 9%;
    }
    .lang-zh .home_banner p {
        font-weight: 500;
        font-size: 14px;
    }
    .home_title{
        font-size: 33px;
    }
    .subtitle{
        font-size: 16px;
        line-height: 1.7em;
    }
    .four_core {
        padding-top: 50px;
        padding-bottom: 60px;
    }
    .lbox_img {
        height: 220px;
    }
    .lbox_name{
        font-size: 15px;
    }
    .home_factorybox {
        padding-top: 100px;
    }
    .home_factory_titlebox {
        margin-bottom: 78px;
    }
    .factory_subtitle_digit p{
        font-size: 13px;
    }
    .factory_board_data h2{
        font-size: 18px;
    }
    .factory_board_data {
        padding: 33px;
        padding-top: 25px;
    }
    .board_type{
        font-size: 14px;
    }
    .board_img {
        width: 13px;
        height: 22px;
        margin-top: -5px;
    }
    .factory_board_data ul{
        margin-top: 35px;
        gap: 30px;
    }
    .lang-zh .factory_list_name p{
        font-size: 15px;
    }
    .factory_board_img{
        height: 150px;
    }
    .home_factorybox {
        padding-bottom: 70px;
    }
    .home_factory_image {
        height: 300px;
    }
    .home_market {
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .world_image {
        height: 250px;
        margin-bottom: 0;
        background-size: 140%;
    }
    .home_contact_a {
        padding-right: 30%;
        margin-bottom: 60px;
    }
    .home_contact_a p {
        margin-bottom: 20px;
    }
    .contactinfo_box {
        padding-top: 40px;
    }
    .contactinfo{
            padding-bottom: 60px;
    }
    .contactinfo_box label{
        font-size: 14px;
    }
    .web_foot{
        font-size: 14px;
        height: 70px;
    }
    .web_foot_r{
        display: none;
    }
    .web_foot_l{
        margin: 0 auto;
    }
    .nav_box {
        width: 100% !important;
        padding-left: 35px;
    }
    .nav_list{
        margin-top: 40px;
    }
    .nav_list li{
        font-size: 22px;
    }
    .nav_list li:hover{
        font-size: 22px;
        color: #9A3133;
        line-height: 2.5em;
    }
    .nav_list li:active{
        font-size: 22px;
        color: #9A3133;
        line-height: 2.5em;
    }
    .nav_top p{
        display: none;
    }
    .logo_mob{
        height: 30px;
        width: 140px;
        background-image:url(../images/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        transition: all 0.3s ease;
        display: block;
    }
    .nav_top{
        align-items: center;
        padding-right: 20px;
    }
    .nav_close i{
        color: #666;
    }
    .nav_close{
        height: 50px;
        width: 50px;
        border-radius: 50px;
        font-size: 24px;
        background-color:#f5f5f5;
        margin-top: -5px;

    }
    .home_contact{
        padding-top: 0;
    }
    .nav_bottom{
        height: 90px;
        justify-content: flex-start;
    }
    .menu_foot{
        display: flex;
    }
    .menu_foot .menu_language{
        display: block;
        margin-left: 0;
        padding-right: 20px;
    }
    .foot_n{
        display: block;
    }

    .web_bigtitle{
        font-size: 36px;
        padding-left: 30px;
    }
    .web_head{
        padding-top: 130px;
        padding-bottom: 15px;
        padding-left: 0;
        padding-right: 0;
    }
    .web_head ul{
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .lang-zh .web_head ul{
        font-size: 15px;
    }
    .web_title{
        font-size: 33px;
    }
    .article_box{
        font-weight: 400;
        font-size:15px ;
    }
    .about_dayang {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    .article_box img{
        width: 100%;
    }
    .about_video {
        height: 150px;
    }
    .about_footprints{
        padding-bottom: 10px;
    }
    .historylist ul li{
        padding: 15px;
        padding-top: 18px;
        padding-bottom: 18px;
    }
    .historylist ul .year h1{
        font-size: 26px;
    }
    .historylist ul .event{
        font-size: 14px;
        padding-left: 30px;
    }

    .core_capabilities{
        padding-top: 20px;
        padding-bottom: 0;
    }
    .about_tree {
        height: 230px;
    }
    .team_title{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .team_p{
        margin-top: 20px;
    }
    .lang-zh .subtitle{
        font-size: 15px;
    }
    .team_designer{
        padding: 30px;
    }
    .designer_image {
        max-width: 100%;
    }
    .designer_introduce{
        max-width: 100%;
        padding-bottom: 90px;
    }
    .designer_introduce .subtitle {
        width: 100%;
        margin-top: 15px;
    }
    .designer_name {
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .webgm_bg {
        height: 330px;
    }
    .conveyor-wrapper{
        height:280px;
        padding-top:50px;
    }
    .item{
        min-width: 220px;
    }
    .footprints_title{
        margin-bottom: 20px;
        font-size: 24px;
    }
    .lang-zh .footprints_title{
        font-size: 22px;
    }
    .partners_logo .container_box{
        padding: 0;
    }
    .hpartners_market {
        padding-top: 60px;
    }
    .world_share{
        display: none;
    }
    .world_data ul li h1{
        font-size: 25px;
    }
    .world_data ul li {
        font-size: 14px;
    }
    .factory_data_t{
        margin-top: 0;
        padding-bottom: 10px;
    }
    .factory_data_t ul li h1 {
        font-size: 30px;
    }
    .factory_data_t_r li div {
        height: 20px;
    }
    .factory_data_t ul li {
        margin-right: 45px;
        margin-bottom: 60px;
    }
    .factory_data_t_r{
        padding-bottom:0;
    }
    .factory_data_t ul li p{
        font-size: 15px;
    }
    .factory_pt{
        border-top: 1px solid #dadada;
        padding-bottom: 70px;
    }
    .factory_pt_l .web_title {
        margin-bottom: 10px;
    }
    .factory_pt_l ul p {
        margin-bottom: 40px;
        max-width: 80%;
        font-size: 15px;
    }
    .factory_pt_r img {
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .factory_data_t_l{
        padding-bottom: 70px;
    }
    .factory_notice h2 {
        font-size: 22px;
    }
    .factory_listbox{
        padding-top: 10px;
        padding-bottom: 70px;
    }
    .factory_list_name h1{
        font-weight: 600;
        font-size: 26px;
        margin-top: 5px;
    }
    .factory_list {
        margin-top: 50px;
        flex-direction: column-reverse;
    }
    .quality{
        padding-top: 60px;
        padding-bottom:0;
    }
    .quality ul h2 {
        font-size: 22px;
    }
    .quality ul li {
        line-height: 1.4em;
        list-style: none;
        margin-bottom: 32px;
    }
    .lang-zh .quality ul li {
        font-size: 15px;
    }
    .attestation_n {
        padding: 20px;
    }
    .attestation {
        padding-bottom: 70px;
    }
    .customization_video{
        height: 580px;
    }
    .customization_billboard h2 {
        font-size: 42px;
    }
    .lang-zh .customization_billboard h2{
        font-size: 50px;
        font-weight: 500;
    }
    .customization_billboard h1 {
        font-size: 52px;
    }
    .lang-zh .customization_billboard h1 {
        font-size: 60px;
    }

    .customization_billboard {
        margin-top: 240px;
    }
    .immersive{
        padding-bottom: 40px;
    }
    .immersive ul h2{
        font-size: 26px;
    }
    .lang-zh .immersive ul h2 {
        font-size: 24px;
    }
    .immersive ul li{
        padding: 16px 15px;
        font-size: 14px;
    }
    .immersive_photo img{
        width: 100%;
    }
    .immersive_photo p {
        font-size: 16px;
        margin-top: 12px;
    }
    .immersive_photo {
        padding-bottom: 80px;
        padding-top: 40px;
    }
    .fully_title h2 {
        font-size: 24px;
    }
    .fully_title {
        padding-top: 50px;
    }
    .fully_image{
        margin-left: 0 !important;
        margin-right: 0 !important;
        row-gap: 15px;
    }

    .fully_image .el-col{
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
    .fullybox {
        padding-top: 10px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .distinctions{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .distinctions ul li {
        margin-bottom: 50px;
    }
    .customization_bg {
        height: 330px;
    }
    .intelligent_billboard h1 {
        font-size: 53px;
        word-break: break-word;
    }
    .intelligent_billboard {
        padding: 50px 40px;
        margin-top: 0;
        padding-bottom: 0;
        }
    .intelligent_banner {
        height: 680px;
    }
    .intelligent_billboard ul {
        margin-top: 80px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .intelligent_billboard ul li{
        margin-bottom: 10px;
        min-width: 68%;
        text-align: center;
        margin-right: 0;
    }
    
    .animation_d {
        width: calc(630px * 0.33);
        height: calc(550px * 0.33);
        border: 33px solid #9db6cd;
        animation: waterFloat 6s ease-in-out infinite;
    }
    .intelligent_title{
        text-align: left;
        padding-bottom: 70px;
    }
    .intelligent_title h1 {
        font-size: 30px;
        width: 95%;
    }

    .intelligent_box {
        padding-top: 60px;
    }

    .ustyylit_introduce {
        margin-left: 10px;
    }
    .ustyylit{
        padding-bottom: 70px;
    }
    .customlining_introduce{
        margin-top: -20px;
    }
    .customlining_n1 .customlining_introduce {
        max-width: 90%;
        min-width: 100%;
    }
    .customlining_n2 .customlining_introduce {
        max-width: 90%;
        min-width: 100%;
    }
    .intelligent_title p {
        font-size: 16px;
    }
    .new3d_title {
        height: 300px;
        background-position: center 50px;
        justify-content: end;
    }
    .new3d_title p {
        font-size: 16px;
    }
    .new3d_img img {
        border-radius: 11px;
    }
    .new3d_swiper {
        margin-top: 60px;
    }
    .new3dbtn {
        padding-top: 70px;
        padding-bottom: 10px;
    }
    .new3dbtn img {
        width: 90%;
    }
    .new3dbtn_title{
        padding-bottom: 10px;
    }
    .new3dbtn_title h1{
        font-size: 23px;
    }
    .new3d_n img {
        border-radius: 10px;
    }
    .img-box::after {
        border-radius: 10px;
    }
    .new3d_fine_n{
        height: 186px;
        border-radius: 12px;
    }
    .new3d_fine_n{
        gap: 16px;
    }
    .new3d_fine {
        padding-bottom: 90px;
    }
    .ai_bg {
        height: 390px;
        padding: 50px 0px;
    }
    .ai_bg p{
        display: none;
    }
    .ai_bg h1 {
        font-size: 58px;
    }
    .Future_title {
        padding-top: 50px;
    }
    .Future_title h2 {
        font-size: 24px;
        margin-top: 5px;
    }
    .ai_big li div {
        height: 180px;
    }
    .ai_big li h4 {
        margin-top: 10px;
    }
    .ai_big li p {
        line-height: 1.4;
        margin-top: 5px;
        font-size: 15px;
    }
    .ai_big {
        margin-bottom: 80px;
    }
    .ai_soon {
        padding-top: 60px;
        padding-bottom: 90px;
    }
    .ai_soon .web_title {
        padding-bottom: 80px;
    }
    .ai_soon ul li {
        margin-bottom: 50px;
    }
    .distinctions ul li h4 {
        font-size: 20px;
    }
    .distinctions ul li p {
        font-size: 14px;
    }
    .ai_soon ul li h4 {
        font-size: 20px;
    }
    .ai_soon ul li p {
        font-size: 14px;
    }
    .web_foot_r .language{
        margin-left: 0;
    }
    

}


