<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Dayang Global</title>
    <link href="lib/index.css" rel="stylesheet">
    <link rel="stylesheet" href="remix/remixicon.css" />
    <link href="css/style.css" rel="stylesheet">
    

</head>
<body class="">
<div id="app" class="" style="height: 100%;position: relative;">


<template>

    <site-top @open-top="drawer = true"></site-top>
    <site-menu v-model="drawer"></site-menu>

    <div class="container_box web_head">
        <h1 class="web_bigtitle">{{ $t('factory.pageName') }}</h1>
        <ul>
            <li @click="scrollTo('point-Factories')">{{ $t('factory.pageNav.Nav1') }}</li>
            <li @click="scrollTo('point-Quality')">{{ $t('factory.pageNav.Nav2') }}</li>
        </ul>
    </div>

    <div class="web_bg" style="background-image:url(images/FactoryBG.jpg);"></div>

    <div class="container_box factory_data_t" ref="point-Factories">
        <div class="factory_data_t_l">
            <h1 class="web_title" v-html="$t('factory.smartFactoryTitle')"></h1>
        </div>
        <ul class="factory_data_t_r">
            <li>
                <div><img src="images/icon-jacket.png" height="100%" alt=""></div>
                <h1 class="web_title">270,000</h1>
                <p>{{ $t('index.capacity.formalWear.DataFactorycategory') }}</p>
            </li>
            <li>
                <div><img src="images/icon-hoodie.png" height="100%" alt=""></div>
                <h1 class="web_title">50,000</h1>
                <p>{{ $t('index.capacity.casualWear.DataFactorycategory') }}</p>
            </li>
            <li>
                <div><img src="images/icon-shirt.png" height="100%" alt=""></div>
                <h1 class="web_title">50,000</h1>
                <p>{{ $t('index.capacity.shirts.DataFactorycategory') }}</p>
            </li>
        </ul>
    </div>


    <div class="container_box factory_pt">
        <div class="factory_pt_l">
            <ul>
                <h1 class="web_title">7</h1>
                <p>{{ $t('index.advancedFactory') }}</p>
            </ul>
            <ul>
                <h1 class="web_title">4500+</h1>
                <p>{{ $t('index.workersFactory') }}</p>
            </ul>
        </div>
        <div class="factory_pt_r">
            <img src="images/factory-1.jpg" alt="">
            <img src="images/factory-2.jpg" alt="">
            <img src="images/factory-3.jpg" alt="">
        </div>
    </div>


    <div class="container_box factory_notice">
        <h1 class="web_title">
            {{ $t('factory.smartFactoryDescTitle') }}
        </h1>
        <h2>{{ $t('factory.smartFactoryDesc') }}</h2>
    </div>

    <div class="container_box factory_listbox">

        <div v-for="(factoryItem, index) in $t('factory.factoryList')" :key="index" class="factory_list">
            <div class="factory_list_name">
                <h1>{{ factoryItem.factoryName }}</h1>
                <p>{{ factoryItem.factoryDescription }}</p>
            </div>
            <div class="factory_list_photo">
                <img :src="factoryItem.image" :alt="factoryItem.factoryName">
            </div>
        </div>

    </div>


    <div class="container_box quality" ref="point-Quality">
        <h1 class="web_title">{{ $t('factory.qualitySystemTitle') }}</h1>
        <ul>
            <h2>{{ $t('factory.qualitySystemDescription') }}</h2>
            <img src="images/quality-p.jpg" width="100%" alt="">
            <li v-for="(quality, index) in $t('factory.qualityList')" :key="index">
                {{ quality }}
            </li>
        </ul>
    </div>

    <div class="container_box attestation">
        <el-row style="display: flex;flex-direction: row;flex-wrap: wrap;">
            <el-col :md="6" :sm="8" :xs="12" class="attestation_n">
                <img src="images/attestation/image 60.jpg" width="100%" alt="">
            </el-col>
            <el-col :md="6" :sm="8" :xs="12" class="attestation_n">
                <img src="images/attestation/image 51.jpg" width="100%" alt="">
            </el-col>
            <el-col :md="6" :sm="8" :xs="12" class="attestation_n">
                <img src="images/attestation/image 52.jpg" width="100%" alt="">
            </el-col>
            <el-col :md="6" :sm="8" :xs="12" class="attestation_n">
                <img src="images/attestation/image 53.jpg" width="100%" alt="">
            </el-col>
            <el-col :md="6" :sm="8" :xs="12" class="attestation_n">
                <img src="images/attestation/image 54.jpg" width="100%" alt="">
            </el-col>
            <el-col :md="6" :sm="8" :xs="12" class="attestation_n">
                <img src="images/attestation/image 55.jpg" width="100%" alt="">
            </el-col>
            <el-col :md="6" :sm="8" :xs="12" class="attestation_n">
                <img src="images/attestation/image 63.jpg" width="100%" alt="">
            </el-col>
            <el-col :md="6" :sm="8" :xs="12" class="attestation_n">
                <img src="images/attestation/image 56.jpg" width="100%" alt="">
            </el-col>
            <el-col :md="6" :sm="8" :xs="12" class="attestation_n">
                <img src="images/attestation/image 57.jpg" width="100%" alt="">
            </el-col>
            <el-col :md="6" :sm="8" :xs="12" class="attestation_n">
                <img src="images/attestation/image 58.jpg" width="100%" alt="">
            </el-col>
            <el-col :md="6" :sm="8" :xs="12" class="attestation_n">
                <img src="images/attestation/image 61.jpg" width="100%" alt="">
            </el-col>
            <el-col :md="6" :sm="8" :xs="12" class="attestation_n">
                <img src="images/attestation/image 59.jpg" width="100%" alt="">
            </el-col>
        </el-row>
    </div>
 




    <site-footer></site-footer>



    


</template>  



</div>









    <!-- import jquery-->
    <script type="text/javascript" src="lib/jquery-3.6.0.min.js"></script>
    <!-- import vue elm-->
    <script type="text/javascript" src="lib/vue.js"></script>
    <script type="text/javascript" src="lib/index.js"></script>
    <!-- import i18n -->
    <script type="text/javascript" src="lib/vue-i18n.min.js"></script>

    <!--  component  -->
    <script src="component/footer.js"></script>
    <script src="component/top.js"></script>
    <script src="component/menu.js"></script>
    <script src="component/i18n-common.js"></script>
    
    <script>
        
        var Main = {
                data() {
                    return {
                        drawer: false,
                    }
            },

            mounted() {
            },

            methods: {
                scrollTo(refName) {
                    const element = this.$refs[refName];
                    if (element) {
                    const start = window.pageYOffset;
                    const target = element.getBoundingClientRect().top + start;
                    const duration = 800; 
                    const startTime = performance.now();
                    
                    const animateScroll = (currentTime) => {
                        const elapsed = currentTime - startTime;
                        const progress = Math.min(elapsed / duration, 1);
                        window.scrollTo(0, start + (target - start) * progress);
                        
                        if (progress < 1) {
                        window.requestAnimationFrame(animateScroll);
                        }
                    };
                    
                    window.requestAnimationFrame(animateScroll);
                    }
                },
            },

        };

        // var Ctor = Vue.extend(Main);
        // new Ctor().$mount('#app');
        createApp(Main).$mount("#app");
    </script>





</body>
</html>