<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Dayang Global</title>
    <link href="lib/index.css" rel="stylesheet">
    <link rel="stylesheet" href="remix/remixicon.css" />
    <link href="css/style.css" rel="stylesheet">
    

</head>
<body class="">
<div id="app" class="" style="height: 100%;position: relative;">


<template>

    <site-top @open-top="drawer = true"></site-top>
    <site-menu v-model="drawer"></site-menu>

    <div class="container_box web_head">
        <h1 class="web_bigtitle">{{ $t('globalMarket.pageName') }}</h1>
        <ul>
            <li @click="scrollTo('point-Partners')">{{ $t('globalMarket.pageNav.Nav1') }}</li>
            <li @click="scrollTo('point-Market')">{{ $t('globalMarket.pageNav.Nav2') }}</li>
            <li @click="scrollTo('point-Team')">{{ $t('globalMarket.pageNav.Nav3') }}</li>
        </ul>
    </div>

    <div class="webgm_bg">
        <div class="webgm_bg_l"></div>
        <div class="webgm_bg_r"></div>
    </div>

    <div class="conveyor-wrapper" id="wrapper" >
    <div class="conveyor-track" id="track">
        <div class="item pause-on-hover"  style="background-image:url(images/m1.jpg);"></div>
        <div class="item pause-on-hover"  style="background-image:url(images/m2.jpg);"></div>
        <div class="item pause-on-hover" style="background-image:url(images/m3.jpg);"></div>
    </div>
    </div>

    <div class="container_box about_footprints" ref="point-Partners">
        <h1 class="web_title footprints_title">
            {{ $t('globalMarket.partnerDesc') }}
        </h1>
    </div>

    <div class="partners_logo">
    <div class="container_box">
        <img src="images/partners.png" width="100%" alt="">
    </div>
    </div>

    <div class="container_box hpartners_market" ref="point-Market">
        <p class="subtitle">{{ $t('globalMarket.pageName') }}</p>
        <h1 class="home_title">{{ $t('globalMarket.marketCoverage') }}</h1>
    </div>
    <div class="container_box world_image"></div>
    <div class="world_data">
        <ul>
            <li class="world_share" >{{ $t('globalMarket.marketShareTitle') }}</li>
            <li>
                <p>{{ $t('globalMarket.marketShareData.northAmerica') }}</p>
                <h1>35.8%</h1>
            </li>
            <li>
                <p>{{ $t('globalMarket.marketShareData.europe') }}</p>
                <h1>13.2%</h1>
            </li>
            <li>
                <p>{{ $t('globalMarket.marketShareData.asia') }}</p>
                <h1>48.3%</h1>
            </li>
            <li>
                <p>{{ $t('globalMarket.marketShareData.australia') }}</p>
                <h1>2.7%</h1>
            </li>
        </ul>
    </div>





    <div class="myTeam" ref="point-team">
        <div class="container_box team_title">
            <h1 class="web_title" v-html="$t('about.internationalTeam.heading')"></h1> 
            <p class="subtitle team_p">
                {{ $t('about.internationalTeam.description') }}
            </p>
        </div>

        <ul class="team_designer">
            <li
                v-for="(member, index) in $t('about.internationalTeam.members')"
                :key="index"
                :style="index % 2 === 1 ? 'flex-direction: row-reverse;' : ''"
                class="designer_item">
                <div class="designer_image">
                    <img :src="member.image" width="100%" :alt="member.name">
                </div>
                <div class="designer_introduce">
                    <p class="subtitle">{{ member.role }}</p>
                    <h1 class="web_title designer_name">{{ member.name }}</h1>
                    <p class="subtitle designer_info">{{ member.bio }}</p>
                </div>
            </li>
        </ul>

    <site-footer></site-footer>
    </div>



</template>  



</div>







    <!-- import jquery-->
    <script type="text/javascript" src="lib/jquery-3.6.0.min.js"></script>
    <!-- import vue elm-->
    <script type="text/javascript" src="lib/vue.js"></script>
    <script type="text/javascript" src="lib/index.js"></script>
    <!-- import i18n -->
    <script type="text/javascript" src="lib/vue-i18n.min.js"></script>

    <!--  component  -->
    <script src="component/footer.js"></script>
    <script src="component/top.js"></script>
    <script src="component/menu.js"></script>
    <script src="component/i18n-common.js"></script>
    
    <script>
        
        var Main = {
                data() {
                    return {
                        drawer: false,
                    }
            },

            mounted() {

                window.addEventListener("load", () => {
                    const track = document.getElementById("track");
                    const wrapper = document.getElementById("wrapper");

                   
                    track.innerHTML += track.innerHTML;

                    let pos = 0;
                    let speed = 1; // speed
                    let paused = false;
                    let totalWidth = 0;
                    let rafId;

                    function animate() {
                        if (!paused) {
                        pos -= speed;
                        if (-pos >= totalWidth) pos = 0;
                        track.style.transform = `translateX(${pos}px)`;
                        }
                        rafId = requestAnimationFrame(animate);
                    }

                 
                    requestAnimationFrame(() => {
                        requestAnimationFrame(() => {
                        totalWidth = track.scrollWidth / 2;
                        if (totalWidth === 0) {
                           
                            setTimeout(() => {
                            totalWidth = track.scrollWidth / 2;
                            animate();
                            }, 100);
                        } else {
                            animate();
                        }
                        });
                    });

                    document.querySelectorAll(".pause-on-hover").forEach(el => {
                        el.addEventListener("mouseenter", () => { paused = true; });
                        el.addEventListener("mouseleave", () => { paused = false; });

                        el.addEventListener("touchstart", () => { paused = true; }, {passive:true});
                        el.addEventListener("touchend", () => { paused = false; }, {passive:true});
                    });

                    setInterval(() => {
                        if (!paused) {
                        pos -= speed;
                        if (-pos >= totalWidth) pos = 0;
                        track.style.transform = `translateX(${pos}px)`;
                        }
                    }, 16);
                });
                



            },


            methods: {
                scrollTo(refName) {
                    const element = this.$refs[refName];
                    if (element) {
                    const start = window.pageYOffset;
                    const target = element.getBoundingClientRect().top + start;
                    const duration = 800; 
                    const startTime = performance.now();
                    
                    const animateScroll = (currentTime) => {
                        const elapsed = currentTime - startTime;
                        const progress = Math.min(elapsed / duration, 1);
                        window.scrollTo(0, start + (target - start) * progress);
                        
                        if (progress < 1) {
                        window.requestAnimationFrame(animateScroll);
                        }
                    };
                    
                    window.requestAnimationFrame(animateScroll);
                    }
                },
            },

        };

        // var Ctor = Vue.extend(Main);
        // new Ctor().$mount('#app');
        createApp(Main).$mount("#app");
    </script>





</body>
</html>