<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Dayang Global</title>
    <link href="lib/index.css" rel="stylesheet">
    <link rel="stylesheet" href="remix/remixicon.css" />
    <link rel="stylesheet" href="lib/swiper.min.css">
    <link href="css/style.css" rel="stylesheet">
    

</head>
<body>
<div id="app" class="home" style="height: 100%;position: relative;">

<template>

    <!-- <site-top @open-top="drawer = true"></site-top> -->

    <div class="web_top"  :class="[{ home_web_top: scrollY < 400 }, { hide: isHidden }]">
        <a href="index.html">
        <div class="logo " :class="[{ home_logo: scrollY < 400 }, { hide: isHidden }]"></div>
        </a>
        <div class="menu_box">
            <div class="language">English <i class="ri-earth-line"></i></div>
            <div class="menu_btn" @click="drawer = true" ><i class="ri-menu-line"></i></div>
        </div>
    </div>

    <site-menu v-model="drawer"></site-menu>

 

    <div class="home_banner">
         <h1>Hello,<br>Dayang Global</h1>
         <p>Discover Dayang’s Expertise</p>
    <video
        id="video-home"
        autoplay
        muted
        loop
        playsinline
        webkit-playsinline
        x5-playsinline
        x5-video-player-type="h5"
        x5-video-player-fullscreen="false"
        x5-video-orientation="portrait"
        oncontextmenu="return false"
        >
        <source src="video/hv.mp4" type="video/mp4">
        <source src="video/hv.webm" type="video/webm">
        <!-- <img src="fallback-image.jpg" alt="背景图片"> -->
    </video>
    </div>

    <div class="home_bg">
    <div class="container_box four_core">
        <p class="subtitle">Founding and Leadership</p>
        <h1 class="home_title">Dayang International Business</h1>
    </div>

    <div class="swiper-container lbox">
                <div class="swiper-wrapper">
                    <div class="swiper-slide lbox_n">
                        <div class="lbox_img" style="background-image:url(images/global-men.jpg);"></div>
                        <div class="lbox_name">The leader in the global men's formalwear business</div>
                    </div>
                    <div class="swiper-slide lbox_n">
                        <div class="lbox_img" style="background-image:url(images/benchmarks.jpg);"></div>
                        <div class="lbox_name">Setting industry benchmarks with craftsmanship and innovation</div>
                    </div>
                    <div class="swiper-slide lbox_n">
                        <div class="lbox_img" style="background-image:url(images/hli.jpg);"></div>
                        <div class="lbox_name">A dominant player in men's custom tailoring</div>
                    </div>
                    <div class="swiper-slide lbox_n">
                        <div class="lbox_img" style="background-image:url(images/1979by.jpg);"></div>
                        <div class="lbox_name">Founded in 1979 by Ms. Li Guilian</div>
                    </div>
                </div>
                <!-- <div class="swiper-scrollbar"></div> -->
    </div>
    
    <div class="container_box home_factorybox">
        <el-row>
            <el-col :md="16" :xs="24">
            <div class="home_factory_left">
                <div class="home_factory_titlebox">
                    <p class="subtitle">World Factory</p>
                    <h1 class="home_title">Precision and high efficiency to meet diverse global demands</h1>
                </div>
                <div class="home_factory_subtitle">
                    <div class="factory_subtitle_digit">
                        <h1 class="home_title">7</h1>
                        <p>7 advanced factories forming a powerful production matrix</p>
                    </div>
                    <div class="factory_subtitle_digit">
                        <h1 class="home_title">4500+</h1>
                        <p>Over 4,500 top-tier local workers ensuring quality and efficiency</p>
                    </div>
                </div>
            </div>
            </el-col>
            <el-col :md="8" :xs="24">
            <div class="home_factory_boardBox">
                    <div class="factory_board">
                        <div class="factory_board_img"></div>
                        <div class="factory_board_data">
                            <h2>Capacity</h2>
                            <ul>
                                <li>
                                    <div class="board_img"><img src="images/icon-jacket.png" height="100%" alt=""></div>
                                    <div class="board_type">
                                        <p style="font-weight: 800;">Formal Wear</p>
                                        <p>Monthly Capacity: 270,000 Units</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="board_img"><img src="images/icon-hoodie.png" height="100%" alt=""></div>
                                    <div class="board_type">
                                        <p style="font-weight: 800;">Casual Wear</p>
                                        <p>Monthly Capacity: 50,000 Units</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="board_img"><img src="images/icon-shirt.png" height="100%" alt=""></div>
                                    <div class="board_type">
                                        <p style="font-weight: 800;">Shirts</p>
                                        <p>Monthly Capacity: 50,000 Units</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="board_img"></div>
                                    <div class="board_type">
                                        <p style="font-weight: 800;">......</p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
            </div>
            </el-col>

        </el-row>
    </div>
    <div class="swiper-container home_factory_image">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url(images/home-img1.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(images/home-img2.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(images/home-img3.jpg)"></div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
    </div>

    </div>

    <div class="container_box home_market">
        <p class="subtitle">Global Market</p>
        <h1 class="home_title">The global market spans major regions including Asia, Europe, North America and Oceania.</h1>
    </div>
    <div class="container_box world_image">
    </div>

    <div class="container_box">
        <p class="subtitle">Find us in the world</p>
        <h1 class="home_title">Contact Us</h1>
    </div>
    <div class="container_box home_contact">
    <el-row>
        <el-col :sm="8" :xs="24" class="home_contact_a">
            <p>China Regional Headquarters</p>
            <ul>
                <li>No.23 Haerbin Road Economic & Technical Development Zone Dalian, China 116600</li>
                <li style="margin-top: 20px;">E-mail: dayang@dayang.net</li>
                <li>Phone: +86 411 88888888</li>
            </ul>
        </el-col>
        <el-col :sm="8" :xs="24" class="home_contact_a">
            <p>Global Business Department</p>
            <ul>
                <li>No. 89 Innovation Boulevard Tech Valley Industrial Park Boston, MA 02210</li>
                <li style="margin-top: 20px;">E-mail: dayang@dayang.net</li>
            </ul>
        </el-col>
        <el-col :sm="8" :xs="24" class="home_contact_a">
            <p>North American Business Department</p>
            <ul>
                <li>No. 89 Innovation Boulevard Tech Valley Industrial Park Boston, MA 02210</li>
                <li style="margin-top: 20px;">E-mail: dayang@dayang.net</li>
            </ul>
        </el-col>
    </el-row>
    </div>

    <div class="container_box contactinfo">
        <el-form :model="form" label-width="" class="contactinfo_box">
            
            <el-row :gutter="60">
            <el-col :sm="12" :xs="24">
                <el-form-item label="How can we help? ">
                <el-input v-model="form.username" placeholder="How can we help?"></el-input>
                </el-form-item>
                <div class="contactinfo_name">
                    <el-form-item label="First Name ">
                    <el-input v-model="form.FirstName" placeholder="First Name"></el-input>
                    </el-form-item>
                    <el-form-item label="Last Name ">
                    <el-input v-model="form.LastName" placeholder="Last Name"></el-input>
                    </el-form-item>
                </div>
                <el-form-item label="Email ">
                <el-input v-model="form.Email" placeholder="Email"></el-input>
                </el-form-item>
                <el-form-item label="Company">
                <el-input v-model="form.Company" placeholder="Company"></el-input>
                </el-form-item>
            </el-col>
       
            <el-col :sm="12" :xs="24">
                <el-form-item label="Message">
                <el-input 
                    type="textarea" 
                    :rows="8" 
                    v-model="textarea" 
                    placeholder="Message">
                </el-input>
                </el-form-item>
                <el-form-item>
                <el-button type="primary" @click="submitForm" style="width: 100%; height: 50px; margin-top: 20px;">Send</el-button>
                </el-form-item>
            </el-col>
            </el-row>
            
        </el-form>
    </div>

    

    <site-footer></site-footer>


</template>  





</div>














    <!-- import jquery-->
    <script type="text/javascript" src="lib/jquery-3.6.0.min.js"></script>
    <!-- import vue elm-->
    <script type="text/javascript" src="lib/vue.js"></script>
    <script type="text/javascript" src="lib/index.js"></script>
    <!-- import swiper-->
    <script src="lib/swiper.min.js"></script>

    <!--  component  -->
    <script src="component/footer.js"></script>
    <!-- <script src="component/top.js"></script> -->
     <script src="component/menu.js"></script>
    
    <script>
        
        var Main = {
            data() {
                return {
                    form: {
                    username: '',
                    FirstName: '',
                    LastName: '',
                    Email: '',
                    Company: '',
                    },
                    textarea: '',
                    scrollY: 0,
                    lastScrollY: 0,
                    windowHeight: window.innerHeight,
                    isHidden: false,
                    drawer: false,
                }
        },


        
        mounted() {
            window.addEventListener('scroll', this.handleScroll);
            window.addEventListener('resize', this.handleResize);

  
            var swiper1 = new Swiper('.lbox', {
                pagination: '.swiper-pagination',
                slidesPerView: 2.3,
                paginationClickable: true,
                spaceBetween: 60,
                freeMode: true,
                // centeredSlides: true,
                slidesOffsetBefore: 110,
                slidesOffsetAfter: 80,
                // scrollbar:'.swiper-scrollbar',
                grabCursor: true,
                // loop: true,
                breakpoints: {
                    480: {
                        slidesPerView: 1.3,
                        slidesOffsetBefore: 32,
                        slidesOffsetAfter: 40,
                        spaceBetween: 32,
                    },
                    820: {
                        slidesPerView: 1.5,
                        slidesOffsetBefore: 50,
                        spaceBetween: 40,
                    },
                    1024: {
                        slidesPerView: 1.8,
                        spaceBetween: 30,
                        slidesOffsetBefore: 50,
                        spaceBetween: 40,
                    },
                    1280: {
                        slidesPerView: 1.8,
                    },
                    1600: {
                        slidesOffsetBefore: 110,
                    },
                    1750: {
                        slidesOffsetBefore: 150,
                    },
                    1920: {
                        slidesOffsetBefore: 270,
                        slidesPerView: 2.5,
                    },
                    2560: {
                        slidesOffsetBefore: 270,
                        slidesPerView: 2.8,
                    },

                },
            });
            var swiper2 = new Swiper('.home_factory_image', {
                pagination: '.swiper-pagination',
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                spaceBetween: 30,
                effect: 'fade',
                autoplay : 6000,
                loop: true,
            });
        },
        // beforeDestroy() {
        //     window.removeEventListener('scroll', this.handleScroll);
        //     window.removeEventListener('resize', this.handleResize);
        // },
        
        methods: {
            
            handleScroll() {
                const currentY = window.scrollY || window.pageYOffset;

            if (currentY > this.lastScrollY && currentY > 300) {
                this.isHidden = true;
            } else {
                this.isHidden = false;
            }

            this.lastScrollY = currentY;
            this.scrollY = currentY;
            },
            handleResize() {
                this.windowHeight = window.innerHeight;
            },


            submitForm() {
            console.log('Submit Form:', this.form);
            this.$message.success('success');
            },
        },

        };

        var Ctor = Vue.extend(Main);
        new Ctor().$mount('#app');
    </script>




    <script>
        function playVideo() {
        const video = document.getElementById('video-home');
            if (video) {
                if (window.WeixinJSBridge) {
                WeixinJSBridge.invoke('getNetworkType', {}, () => video.play());
                } else {
                video.play();
                }
            }
        }
        document.addEventListener('WeixinJSBridgeReady', playVideo, false);
        document.addEventListener('touchstart', playVideo, { once: true });




        $('.web_top').click(function(event) {
            if (event.target === this) {
                $('html, body').animate({ scrollTop: 0 }, 500);
            }
        });
    </script>





</body>
</html>