<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Dayang Global</title>
    <link href="lib/index.css" rel="stylesheet">
    <link rel="stylesheet" href="remix/remixicon.css" />
    <link rel="stylesheet" href="lib/swiper.min.css">
    <link href="css/style.css" rel="stylesheet">
    

</head>
<body>
<div id="app" class="home" style="height: 100%;position: relative;">

<template>

    <!-- <site-top @open-top="drawer = true"></site-top> -->

    <div class="web_top"  :class="[{ home_web_top: scrollY < 400 }, { hide: isHidden }]">
        <a href="index.html">
        <div class="logo " :class="[{ home_logo: scrollY < 400 }, { hide: isHidden }]"></div>
        </a>
        <div class="menu_box">
            <div class="language" @click="toggleLanguage">
                 {{ currentLangLabel }} <i class="ri-earth-line"></i>
            </div>
            <div class="menu_btn" @click="drawer = true" ><i class="ri-menu-line"></i></div>
        </div>
    </div>

    

    <site-menu v-model="drawer"></site-menu>

 

    <div class="home_banner">
         <h1 v-html="$t('index.welcome')"></h1>
         <p>{{ $t('index.description') }}</p>
    <video
        id="video-home"
        autoplay
        muted
        loop
        playsinline
        webkit-playsinline
        x5-playsinline
        x5-video-player-type="h5"
        x5-video-player-fullscreen="false"
        x5-video-orientation="portrait"
        oncontextmenu="return false"
        >
        <source src="video/hv.webm" type="video/webm">
        <source src="video/hv.mp4" type="video/mp4">
    </video>
    </div>

    <div class="home_bg">
    <div class="container_box four_core">
        <p class="subtitle">{{ $t('index.foundingAndLeadership') }}</p>
        <h1 class="home_title" v-html="$t('index.websitemaintitle')"></h1>
    </div>

    <div class="swiper-container lbox">
                <div class="swiper-wrapper">
                    <div class="swiper-slide lbox_n">
                        <div class="lbox_img" style="background-image:url(images/global-men.jpg);"></div>
                        <div class="lbox_name">{{ $t('index.websitemainunit1') }}</div>
                    </div>
                    <div class="swiper-slide lbox_n">
                        <div class="lbox_img" style="background-image:url(images/benchmarks.jpg);"></div>
                        <div class="lbox_name">{{ $t('index.websitemainunit2') }}</div>
                    </div>
                    <div class="swiper-slide lbox_n">
                        <div class="lbox_img" style="background-image:url(images/hli.jpg);"></div>
                        <div class="lbox_name">{{ $t('index.websitemainunit3') }}</div>
                    </div>
                    <div class="swiper-slide lbox_n">
                        <div class="lbox_img" style="background-image:url(images/1979by.jpg);"></div>
                        <div class="lbox_name">{{ $t('index.websitemainunit4') }}</div>
                    </div>
                </div>
                <!-- <div class="swiper-scrollbar"></div> -->
    </div>
    
    <div class="container_box home_factorybox">
        <el-row>
            <el-col :md="16" :xs="24">
            <div class="home_factory_left">
                <div class="home_factory_titlebox">
                    <p class="subtitle">{{ $t('index.descriptionFactory') }}</p>
                    <h1 class="home_title">{{ $t('index.titleFactory') }}</h1>
                </div>
                <div class="home_factory_subtitle">
                    <div class="factory_subtitle_digit">
                        <h1 class="home_title">7</h1>
                        <p>{{ $t('index.advancedFactory') }}</p>
                    </div>
                    <div class="factory_subtitle_digit">
                        <h1 class="home_title">4500+</h1>
                        <p>{{ $t('index.workersFactory') }}</p>
                    </div>
                </div>
            </div>
            </el-col>
            <el-col :md="8" :xs="24">
            <div class="home_factory_boardBox">
                    <div class="factory_board">
                        <div class="factory_board_img"></div>
                        <div class="factory_board_data">
                            <h2>{{ $t('index.DataFactorytitle') }}</h2>
                            <ul>
                                <li>
                                    <div class="board_img"><img src="images/icon-jacket.png" height="100%" alt=""></div>
                                    <div class="board_type">
                                        <p style="font-weight: 800;">{{ $t('index.capacity.formalWear.DataFactorycategory') }}</p>
                                        <p>{{ $t('index.capacity.formalWear.DataFactorynumber') }}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="board_img"><img src="images/icon-hoodie.png" height="100%" alt=""></div>
                                    <div class="board_type">
                                        <p style="font-weight: 800;">{{ $t('index.capacity.casualWear.DataFactorycategory') }}</p>
                                        <p>{{ $t('index.capacity.casualWear.DataFactorynumber') }}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="board_img"><img src="images/icon-shirt.png" height="100%" alt=""></div>
                                    <div class="board_type">
                                        <p style="font-weight: 800;">{{ $t('index.capacity.shirts.DataFactorycategory') }}</p>
                                        <p>{{ $t('index.capacity.shirts.DataFactorynumber') }}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="board_img"></div>
                                    <div class="board_type">
                                        <p style="font-weight: 800;">......</p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
            </div>
            </el-col>

        </el-row>
    </div>
    <div class="swiper-container home_factory_image">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url(images/home-img1.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(images/home-img2.jpg)"></div>
                <div class="swiper-slide" style="background-image:url(images/home-img3.jpg)"></div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
    </div>

    </div>

    <div class="container_box home_market">
        <p class="subtitle">{{ $t('index.globalMarketdescription') }}</p>
        <h1 class="home_title">{{ $t('index.globalMarkettitle') }}</h1>
    </div>
    <div class="container_box world_image">
    </div>

    <div class="container_box" id="container-link">
        <p class="subtitle">{{ $t('index.contactUsdescription') }}</p>
        <h1 class="home_title">{{ $t('index.contactUs') }}</h1>
    </div>
    <div class="container_box home_contact">
    <el-row>
        <el-col :sm="8" :xs="24" class="home_contact_a">
            <p>{{ $t('index.contact.china.contactTitle') }}</p>
            <ul>
                <li>{{ $t('index.contact.china.contactAddress') }}</li>
                <li style="margin-top: 20px;">{{ $t('index.contact.china.contactEmail') }}</li>
                <li>{{ $t('index.contact.china.contactPhone') }}</li>
            </ul>
        </el-col>
        <el-col :sm="8" :xs="24" class="home_contact_a">
            <p>{{ $t('index.contact.global.contactTitle') }}</p>
            <ul>
                <li>{{ $t('index.contact.global.contactAddress') }}</li>
                <li style="margin-top: 20px;">{{ $t('index.contact.global.contactEmail') }}</li>
            </ul>
        </el-col>
        <el-col :sm="8" :xs="24" class="home_contact_a">
            <p>{{ $t('index.contact.northAmerican.contactTitle') }}</p>
            <ul>
                <li>{{ $t('index.contact.northAmerican.contactAddress') }}</li>
                <li style="margin-top: 20px;">{{ $t('index.contact.northAmerican.contactEmail') }}</li>
            </ul>
        </el-col>
    </el-row>
    </div>

    <div class="container_box contactinfo">
        <el-form :model="form" label-width="" class="contactinfo_box">
            
            <el-row :gutter="60">
            <el-col :sm="12" :xs="24">
                <el-form-item :label="$t('index.form.howcanwehelp')">
                <el-input v-model="form.username" :placeholder="$t('index.form.howcanwehelp')"></el-input>
                </el-form-item>
                <div class="contactinfo_name">
                    <el-form-item :label="$t('index.form.firstName')"> 
                    <el-input v-model="form.FirstName" :placeholder="$t('index.form.firstName')"> </el-input>
                    </el-form-item>
                    <el-form-item :label="$t('index.form.lastName')"> 
                    <el-input v-model="form.LastName" :placeholder="$t('index.form.lastName')"> </el-input>
                    </el-form-item>
                </div>
                <el-form-item :label="$t('index.form.formemail')">
                <el-input v-model="form.Email" :placeholder="$t('index.form.formemail')"></el-input>
                </el-form-item>
                <el-form-item :label="$t('index.form.company')">
                <el-input v-model="form.Company" :placeholder="$t('index.form.company')"></el-input>
                </el-form-item>
            </el-col>
       
            <el-col :sm="12" :xs="24">
                <el-form-item :label="$t('index.form.formmessage')">
                <el-input 
                    type="textarea" 
                    :rows="8" 
                    v-model="textarea" 
                    :placeholder="$t('index.form.formmessage')">
                </el-input>
                </el-form-item>
                <el-form-item>
                <el-button type="primary" @click="submitForm" style="width: 100%; height: 50px; margin-top: 20px;font-size: 16px;">{{ $t('index.form.submitButton') }}</el-button>
                </el-form-item>
            </el-col>
            </el-row>
            
        </el-form>
    </div>

    

    <site-footer></site-footer>


</template>  





</div>














    <!-- import jquery-->
    <script type="text/javascript" src="lib/jquery-3.6.0.min.js"></script>
    <!-- import vue elm-->
    <script type="text/javascript" src="lib/vue.js"></script>
    <script type="text/javascript" src="lib/index.js"></script>
    <!-- import swiper-->
    <script src="lib/swiper.min.js"></script>
    <!-- import i18n -->
    <script type="text/javascript" src="lib/vue-i18n.min.js"></script>

    <!--  component  -->
    <script src="component/footer.js"></script>
    <!-- <script src="component/top.js"></script> -->
    <script src="component/menu.js"></script>
    <script src="component/i18n-common.js"></script>

   
    
    <script>
        
        var Main = {
            data() {
                return {
                    form: {
                    username: '',
                    FirstName: '',
                    LastName: '',
                    Email: '',
                    Company: '',
                    },
                    textarea: '',
                    scrollY: 0,
                    lastScrollY: 0,
                    windowHeight: window.innerHeight,
                    isHidden: false,
                    drawer: false,
                }
        },


        
        mounted() {
            window.addEventListener('scroll', this.handleScroll);
            window.addEventListener('resize', this.handleResize);

  
            var swiper1 = new Swiper('.lbox', {
                pagination: '.swiper-pagination',
                slidesPerView: 2.3,
                paginationClickable: true,
                spaceBetween: 60,
                freeMode: true,
                // centeredSlides: true,
                slidesOffsetBefore: 110,
                slidesOffsetAfter: 80,
                // scrollbar:'.swiper-scrollbar',
                grabCursor: true,
                // loop: true,
                breakpoints: {
                    480: {
                        slidesPerView: 1.3,
                        slidesOffsetBefore: 32,
                        slidesOffsetAfter: 40,
                        spaceBetween: 32,
                    },
                    820: {
                        slidesPerView: 1.5,
                        slidesOffsetBefore: 50,
                        spaceBetween: 40,
                    },
                    1024: {
                        slidesPerView: 1.8,
                        spaceBetween: 30,
                        slidesOffsetBefore: 50,
                        spaceBetween: 40,
                    },
                    1280: {
                        slidesPerView: 1.8,
                    },
                    1600: {
                        slidesOffsetBefore: 110,
                    },
                    1750: {
                        slidesOffsetBefore: 150,
                    },
                    1920: {
                        slidesOffsetBefore: 270,
                        slidesPerView: 2.5,
                    },
                    2560: {
                        slidesOffsetBefore: 270,
                        slidesPerView: 2.8,
                    },

                },
            });
            var swiper2 = new Swiper('.home_factory_image', {
                pagination: '.swiper-pagination',
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                spaceBetween: 30,
                effect: 'fade',
                autoplay : 6000,
                loop: true,
            });

            this.$watch('$i18n.locale', (newVal) => {
                document.body.classList.remove('lang-en', 'lang-zh');
                document.body.classList.add(`lang-${newVal}`);
            }, { immediate: true }); 
        },
        
        computed: {
            currentLangLabel() {
            return this.$t("index.langLabel");
            }
        },

        methods: {
            
            handleScroll() {
                const currentY = window.scrollY || window.pageYOffset;

            if (currentY > this.lastScrollY && currentY > 300) {
                this.isHidden = true;
            } else {
                this.isHidden = false;
            }

            this.lastScrollY = currentY;
            this.scrollY = currentY;
            },
            handleResize() {
                this.windowHeight = window.innerHeight;
            },


            submitForm() {
            console.log('Submit Form:', this.form);
            this.$message.success('success');
            },
            toggleLanguage() {
                const newLang = this.$i18n.locale === "en" ? "zh" : "en";
                this.$i18n.locale = newLang;
                localStorage.setItem("lang", newLang);
            },
        },

        };

        // var Ctor = Vue.extend(Main);
        // new Ctor({ i18n }).$mount('#app');
        createApp(Main).$mount('#app');
    </script>




    <script>
        function playVideo() {
        const video = document.getElementById('video-home');
            if (video) {
                if (window.WeixinJSBridge) {
                WeixinJSBridge.invoke('getNetworkType', {}, () => video.play());
                } else {
                video.play();
                }
            }
        }
        document.addEventListener('WeixinJSBridgeReady', playVideo, false);
        document.addEventListener('touchstart', playVideo, { once: true });




        $('.web_top').click(function(event) {
            if (event.target === this) {
                $('html, body').animate({ scrollTop: 0 }, 500);
            }
        });
    </script>





</body>
</html>