<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Dayang Global</title>
    <link href="lib/index.css" rel="stylesheet">
    <link rel="stylesheet" href="remix/remixicon.css" />
    <link rel="stylesheet" href="lib/swiper.min.css">
    <link href="css/style.css" rel="stylesheet">
    

</head>
<body >
<div id="app" style="height: 100%;position: relative;    background-color: #FAF5F5; ">


<template>

    <site-top @open-top="drawer = true"></site-top>
    <site-menu v-model="drawer"></site-menu>

   
    <div class="intelligent_banner section">
            <div class="animation_d"></div>
            <div class="intelligent_billboard ">
                <h1>{{ $t('intelligent.pageTitle') }}</h1>
                <h1>{{ $t('intelligent.subtitle') }}</h1>
                <ul>
                    <li :class="{g_active: activeIndex === 0}" @click="scrollTo('point-System')">{{ $t('intelligent.pageNav.Nav1') }}</li>
                    <li :class="{g_active: activeIndex === 1}" @click="scrollTo('point-Future')">{{ $t('intelligent.pageNav.Nav2') }}</li>
                </ul>
            </div>
    </div>
    <div class="gradient_bg">
        
        <div class="container_box intelligent_box">
            <div class="intelligent_title" ref="point-System">
                <h1>{{ $t('intelligent.ustyylitSystem.title') }}</h1>
                <p>{{ $t('intelligent.ustyylitSystem.tagline') }}</p>
            </div>
            <div class="ustyylit ustyylit_n1">
                <div class="ustyylit_introduce">
                    <ul>
                        <img src="images/to.png" alt="">
                        <li>
                            <h3>{{ $t('intelligent.ustyylitSystem.items.items1.title') }}</h3>
                            <p>{{ $t('intelligent.ustyylitSystem.items.items1.desc') }}</p>
                        </li>
                    </ul>
                    <ul>
                        <img src="images/to.png" alt="">
                        <li>
                            <h3>{{ $t('intelligent.ustyylitSystem.items.items2.title') }}</h3>
                            <p>{{ $t('intelligent.ustyylitSystem.items.items2.desc') }}</p>
                        </li>
                    </ul>
                    <ul>
                        <img src="images/to.png" alt="">
                        <li>
                            <h3>{{ $t('intelligent.ustyylitSystem.items.items3.title') }}</h3>
                            <p>{{ $t('intelligent.ustyylitSystem.items.items3.desc') }}</p>
                        </li>
                    </ul>
                </div>
                <div class="ustyylit_image"><img src="images/u31.png" width="100%" alt=""></div>
            </div>
            <div class="ustyylit ustyylit_n2">
                <div class="ustyylit_introduce">
                    <ul>
                        <img src="images/to.png" alt="">
                        <li>
                            <h3>{{ $t('intelligent.ustyylitSystem.items.items4.title') }}</h3>
                            <p>{{ $t('intelligent.ustyylitSystem.items.items4.desc') }}</p>
                        </li>
                    </ul>
                    <ul>
                        <img src="images/to.png" alt="">
                        <li>
                            <h3>{{ $t('intelligent.ustyylitSystem.items.items5.title') }}</h3>
                            <p>{{ $t('intelligent.ustyylitSystem.items.items5.desc') }}</p>
                        </li>
                    </ul>
                    <ul>
                        <img src="images/to.png" alt="">
                        <li>
                            <h3>{{ $t('intelligent.ustyylitSystem.items.items6.title') }}</h3>
                            <p>{{ $t('intelligent.ustyylitSystem.items.items6.desc') }}</p>
                        </li>
                    </ul>
                </div>
                <div class="ustyylit_image"><img src="images/u32.png" width="100%" alt=""></div>
            </div>
        </div>
    </div>

    
    <div class="gradient_bg2">
        <div class="container_box intelligent_box">
            <div class="intelligent_title lining_title">
                    <h1>{{ $t('intelligent.customLiningsDesign.title') }}</h1>
                    <p>{{ $t('intelligent.customLiningsDesign.tagline') }}</p>
            </div>
            <div class="customlining customlining_n1">
                <div class="customlining_image"><img src="images/Lining1.png" width="100%" alt=""></div>
                <ul class="customlining_introduce">
                    <li>
                        <h3>{{ $t('intelligent.customLiningsDesign.items.items1.title') }}</h3>
                        <p>{{ $t('intelligent.ustyylitSystem.items.items1.desc') }}</p>
                    </li>
                    <li>
                        <h3>{{ $t('intelligent.customLiningsDesign.items.items2.title') }}</h3>
                        <p>{{ $t('intelligent.ustyylitSystem.items.items2.desc') }}</p>
                    </li>
                    <li>
                        <h3>{{ $t('intelligent.customLiningsDesign.items.items3.title') }}</h3>
                        <p>{{ $t('intelligent.ustyylitSystem.items.items3.desc') }}</p>
                    </li>
                </ul>
            </div>
            <div class="customlining customlining_n2">
                <div class="customlining_image"><img src="images/Lining2.png" width="100%" alt=""></div>
                <ul class="customlining_introduce">
                    <li>
                        <h3>{{ $t('intelligent.customLiningsDesign.items.items4.title') }}</h3>
                        <p>{{ $t('intelligent.ustyylitSystem.items.items4.desc') }}</p>
                    </li>
                    <li>
                        <h3>{{ $t('intelligent.customLiningsDesign.items.items5.title') }}</h3>
                        <p>{{ $t('intelligent.ustyylitSystem.items.items5.desc') }}</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container_box new3d_title">
            <h1>{{ $t('intelligent.threeDVisualization.title') }}</h1>
            <p>{{ $t('intelligent.threeDVisualization.tagline') }}</p>
        </div>

        <div class="swiper-container new3d_swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide new3d_n">
                <div class="img-box">
                    <img src="images/new3d-img1.jpg" width="100%"  alt="">
                </div>
            </div>
            <div class="swiper-slide new3d_n">
                <div class="img-box">
                    <img src="images/new3d-img2.jpg" width="100%" alt="">
                </div>
            </div>
            <div class="swiper-slide new3d_n">
                <div class="img-box">
                    <img src="images/new3d-img3.jpg" width="100%" alt="">
                </div>
            </div>
        </div>
        </div>

        <div class="container_box new3dbtn">
            <img src="images/new3d-btn.png" width="100%" alt="">
        </div>
        <div class="container_box new3d_img">
            <img src="images/new3d-gif.gif" width="100%" alt="">
            <img src="images/new3dyc.jpg" width="100%" alt="">
        </div>
        <div class="container_box new3dbtn_title" >
            <h1>{{ $t('intelligent.threeDVisualization.slogan') }}</h1>
        </div>

        <div class="container_box new3d_fine">
        <el-row :gutter="30">
            <el-col :sm="8" :xs="24">
                <div class="new3d_fine_n">
                    <i class="ri-box-3-fill" style="color: #6F71F8;"></i>
                    <p>{{ $t('intelligent.threeDVisualization.sloganList.list1') }}</p>
                </div>
            </el-col>
            <el-col :sm="8" :xs="24">
                <div class="new3d_fine_n">
                    <i class="ri-pencil-ruler-2-fill" style="color: #E08E00;"></i>
                    <p>{{ $t('intelligent.threeDVisualization.sloganList.list2') }}</p>
                </div>
            </el-col>
            <el-col :sm="8" :xs="24">
                <div class="new3d_fine_n">
                    <i class="ri-survey-fill" style="color: #2CA864;"></i>
                    <p>{{ $t('intelligent.threeDVisualization.sloganList.list3') }}</p>
                </div>
            </el-col>
        </el-row>
        </div>

    </div>


    <div class="ai_bgbox section">

    <div class="ai_bg" ref="point-Future">
        <h1>{{ $t('intelligent.futureBanner') }}</h1>
        <p>AI Generation</p>
    </div>
    
    <div class="container_box Future_title">
            <p class="subtitle">{{ $t('intelligent.futureConcept.title') }}</p>
            <h2 class="web_title ">
                {{ $t('intelligent.futureConcept.Description') }}
            </h2>
    </div>

    <ul class="ai_big">
        <li>
            <div style="background-image: url(images/ai-image1.jpg);"></div>
            <h4>{{ $t('intelligent.futureConcept.main.main1.title') }}</h4>
            <p>{{ $t('intelligent.futureConcept.main.main1.desc') }}</p>
        </li>
        <li>
            <div style="background-image: url(images/ai-image2.jpg);"></div>
            <h4>{{ $t('intelligent.futureConcept.main.main2.title') }}</h4>
            <p>{{ $t('intelligent.futureConcept.main.main2.desc') }}</p>
        </li>
        <li>
            <div style="background-image: url(images/ai-image3.jpg);"></div>
            <h4>{{ $t('intelligent.futureConcept.main.main3.title') }}</h4>
            <p>{{ $t('intelligent.futureConcept.main.main3.desc') }}</p>
        </li>
        <li>
            <div style="background-image: url(images/ai-image4.jpg);"></div>
            <h4>{{ $t('intelligent.futureConcept.main.main4.title') }}</h4>
            <p>{{ $t('intelligent.futureConcept.main.main4.desc') }}</p>
        </li>
    </ul>

    <div class="container_box  ai_soon" style="border-top: 1px solid #DADADA;">
        <div>
            <p class="subtitle">{{ $t('intelligent.futureConcept.comingSoon') }}</p>
            <h1 class="web_title">{{ $t('intelligent.futureConcept.title') }}</h1>
        </div>
        <ul>
            <li v-for="(futures, index) in $t('intelligent.futureConcept.items')" :key="index">
                <h4>{{ futures.title }}</h4>
                <p>{{ futures.desc }}</p>
            </li>
        </ul>
        </div>


    <site-footer></site-footer>
    </div>
    


    

</template>  



</div>











    <!-- import jquery-->
    <script type="text/javascript" src="lib/jquery-3.6.0.min.js"></script>
    <!-- import vue elm-->
    <script type="text/javascript" src="lib/vue.js"></script>
    <script type="text/javascript" src="lib/index.js"></script>
    <!-- import swiper-->
    <script src="lib/swiper.min.js"></script>
    <!-- import i18n -->
    <script src="https://cdn.jsdelivr.net/npm/vue-i18n@8/dist/vue-i18n.min.js"></script>

    <!--  component  -->
    <script src="component/footer.js"></script>
    <script src="component/top.js"></script>
    <script src="component/menu.js"></script>
    <script src="component/i18n-common.js"></script>

    
    <script>
        
        var Main = {
                data() {
                    return {
                        drawer: false,
                        activeIndex: 0,
                    }
            },

            mounted() {
                const swiper = new Swiper('.swiper-container', {
                    slidesPerView: 2.3,
                    spaceBetween: 70,
                    centeredSlides: true,
                    loop: true,
                    loopedSlides: 10,
                    initialSlide: 1,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true
                    },
                    breakpoints: {
                    768: {
                        slidesPerView: 1.5,
                    },
                    480: {
                        slidesPerView: 1.2,
                        spaceBetween: 25,
                    }

                },
                });

                swiper.on('click', function (swiper, e) {
                    if (swiper.clickedIndex !== undefined) {
                        swiper.slideTo(swiper.clickedIndex);
                    }
                });
                window.addEventListener('scroll', this.onScroll);
            },
           
            methods: {
               
                scrollTo(refName) {
                    const element = this.$refs[refName];
                    if (element) {
                    const start = window.pageYOffset;
                    const target = element.getBoundingClientRect().top + start;
                    const duration = 800; 
                    const startTime = performance.now();
                    
                    const animateScroll = (currentTime) => {
                        const elapsed = currentTime - startTime;
                        const progress = Math.min(elapsed / duration, 1);
                        window.scrollTo(0, start + (target - start) * progress);
                        
                        if (progress < 1) {
                        window.requestAnimationFrame(animateScroll);
                        }
                    };
                    
                    window.requestAnimationFrame(animateScroll);
                    }
                },
            },

        };

        // var Ctor = Vue.extend(Main);
        // new Ctor().$mount('#app');
        createApp(Main).$mount("#app");
    </script>





</body>
</html>